openapi: 3.1.0
info:
  title: Portfobit Open API
  version: 0.1.0
  description: |
    Public REST API for direct API clients, CI, scripts, service accounts, third-party agents, and developer integrations.
    Public REST requests use scoped Portfobit Open API keys. OAuth access tokens issued for the Portfobit MCP resource are not accepted by `/api/v1/*` endpoints.
    Portfobit is crypto-CEX-only. Financial values are decimal strings and timestamps are RFC 3339 UTC strings.
    The API never supports withdrawals, external-address transfers, cross-exchange transfers, or P2P transfers.
servers:
  - url: https://api.portfobit.com/api/v1
security:
  - bearerAuth: []
tags:
  - name: Context
  - name: Accounts
  - name: Portfolios
  - name: Valuation
  - name: Activity
  - name: Trading
  - name: Market data
  - name: Support
paths:
  /me:
    get:
      tags: [Context]
      summary: Get the current authenticated-user context
      description: Returns the current user, effective subscription projection, resource limits, credential type, and authorization scopes. Any valid Open API key can call this public endpoint. MCP OAuth may reach the same internal contract only through private, server-bound delegation; an MCP OAuth access token sent directly to this endpoint is rejected with `401 authentication_required`.
      operationId: getCurrentUserContext
      responses:
        '200': { $ref: '#/components/responses/CurrentUserContextResponse' }
        '401': { $ref: '#/components/responses/AuthenticationRequiredResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /service-egress-ips:
    get:
      tags: [Accounts]
      summary: List service egress IP addresses
      description: Returns the platform IP addresses to allowlist at a connected CEX. No user data is returned.
      operationId: listServiceEgressIps
      parameters: [{ $ref: '#/components/parameters/IncludeDeprecated' }]
      responses:
        '200': { $ref: '#/components/responses/EgressIpsResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /account-connectors:
    get:
      tags: [Accounts]
      summary: List supported crypto CEX connectors
      description: Requires `account:read`. Only crypto CEX connectors are returned. `inspectable_permissions` identifies the CEX credential permissions for which the connector can obtain reliable provider evidence.
      operationId: listAccountConnectors
      parameters:
        - $ref: '#/components/parameters/ConnectorStatus'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { $ref: '#/components/responses/ConnectorListResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts:
    get:
      tags: [Accounts]
      summary: List CEX account connections
      description: Requires `account:read`.
      operationId: listAccounts
      parameters:
        - $ref: '#/components/parameters/Venue'
        - $ref: '#/components/parameters/AccountStatus'
        - $ref: '#/components/parameters/Tag'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { $ref: '#/components/responses/AccountListResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
    post:
      tags: [Accounts]
      summary: Create a CEX account connection
      description: Requires `account:write` and `Idempotency-Key`. Credentials are encrypted and are never returned. `requested_permissions` is the user's declaration and execution switch; `withdraw` must be false. A declared permission that the connector cannot inspect remains unknown rather than denied, and the provider makes the final check when that capability is used.
      operationId: createAccountConnection
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/CreateAccountRequest' }
      responses:
        '201': { $ref: '#/components/responses/AccountResponse' }
        '400': { $ref: '#/components/responses/InvalidConnectorIdResponse' }
        '404': { $ref: '#/components/responses/ConnectorNotFoundResponse' }
        '409': { $ref: '#/components/responses/AccountCreationConflictResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/syncs:
    post:
      tags: [Accounts]
      summary: Start synchronization for all eligible accounts
      description: Requires `account:write` and `Idempotency-Key`. Queues one `manual_batch` sync per eligible account; the daily manual-sync quota applies.
      operationId: startAllAccountsSync
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '202': { $ref: '#/components/responses/SyncListResponse' }
        '412': { $ref: '#/components/responses/NoSyncableAccountsResponse' }
        '429': { $ref: '#/components/responses/SyncRateLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}:
    get:
      tags: [Accounts]
      summary: Get an account connection
      description: Requires `account:read`.
      operationId: getAccount
      parameters: [{ $ref: '#/components/parameters/AccountId' }]
      responses:
        '200': { $ref: '#/components/responses/AccountResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
    patch:
      tags: [Accounts]
      summary: Replace account tags
      description: Requires `account:write`. Only `tags` may be changed; name, credentials, permissions, and account deletion are Web-only safety flows.
      operationId: updateAccountTags
      parameters: [{ $ref: '#/components/parameters/AccountId' }]
      requestBody: { $ref: '#/components/requestBodies/AccountTagsRequest' }
      responses:
        '200': { $ref: '#/components/responses/AccountResponse' }
        '400': { $ref: '#/components/responses/InvalidAccountUpdateResponse' }
        '403': { $ref: '#/components/responses/AccountNameWebOnlyResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/syncs:
    post:
      tags: [Accounts]
      summary: Start synchronization for one account
      description: Requires `account:write` and `Idempotency-Key`.
      operationId: startAccountSync
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '202': { $ref: '#/components/responses/SyncResponse' }
        '429': { $ref: '#/components/responses/SyncRateLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /syncs/{sync_id}:
    get:
      tags: [Accounts]
      summary: Get synchronization status
      description: Requires `account:read`.
      operationId: getSync
      parameters: [{ $ref: '#/components/parameters/SyncId' }]
      responses:
        '200': { $ref: '#/components/responses/SyncResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/balances:
    get:
      tags: [Accounts]
      summary: List account balances
      description: Requires `account:read`. `debt` is a nullable decimal string populated only from the CCXT per-asset trading balance; non-trading locations return null. Internal provider data and raw exchange responses are never returned.
      operationId: listAccountBalances
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Asset'
        - $ref: '#/components/parameters/AssetLocation'
        - $ref: '#/components/parameters/MinValue'
        - $ref: '#/components/parameters/ValueCurrency'
        - $ref: '#/components/parameters/IncludeZero'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { $ref: '#/components/responses/AccountBalancesResponse' }
        '400': { $ref: '#/components/responses/InvalidAssetLocationResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/summary:
    get:
      tags: [Accounts]
      summary: Get account equity and risk summary
      description: Requires `account:read`. Risk-derived fields are grouped under `risk`.
      operationId: getAccountSummary
      parameters: [{ $ref: '#/components/parameters/AccountId' }]
      responses:
        '200': { $ref: '#/components/responses/AccountSummaryResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/positions:
    get:
      tags: [Accounts]
      summary: List account positions
      description: Requires `account:read`. Internal provider data and raw exchange responses are never returned.
      operationId: listAccountPositions
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Symbol'
        - $ref: '#/components/parameters/PositionSide'
        - $ref: '#/components/parameters/InstrumentType'
        - $ref: '#/components/parameters/MarginMode'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { $ref: '#/components/responses/AccountPositionsResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /portfolios:
    get:
      tags: [Portfolios]
      summary: List portfolios
      description: Requires `portfolio:read`; includes the system `global` portfolio when requested.
      operationId: listPortfolios
      parameters:
        - $ref: '#/components/parameters/Tag'
        - $ref: '#/components/parameters/AccountIdQuery'
        - $ref: '#/components/parameters/IncludeGlobal'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { $ref: '#/components/responses/PortfolioListResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
    post:
      tags: [Portfolios]
      summary: Create a portfolio
      description: Requires `portfolio:write` and `Idempotency-Key`.
      operationId: createPortfolio
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/PortfolioRequest' }
      responses:
        '201': { $ref: '#/components/responses/PortfolioResponse' }
        '409': { $ref: '#/components/responses/PlanLimitReachedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /portfolios/{portfolio_id}:
    get:
      tags: [Portfolios]
      summary: Get a portfolio
      description: Requires `portfolio:read`. `global` is the current user's all-account view.
      operationId: getPortfolio
      parameters: [{ $ref: '#/components/parameters/PortfolioId' }]
      responses:
        '200': { $ref: '#/components/responses/PortfolioResponse' }
        '403': { $ref: '#/components/responses/ResourcePlanLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
    patch:
      tags: [Portfolios]
      summary: Update a portfolio
      description: Requires `portfolio:write` and `Idempotency-Key`. `global` cannot be updated.
      operationId: updatePortfolio
      parameters:
        - $ref: '#/components/parameters/MutablePortfolioId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { $ref: '#/components/requestBodies/PortfolioRequest' }
      responses:
        '200': { $ref: '#/components/responses/PortfolioResponse' }
        '403': { $ref: '#/components/responses/ResourcePlanLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
    delete:
      tags: [Portfolios]
      summary: Delete a portfolio
      description: Requires `portfolio:write` and `Idempotency-Key`. Deleting a portfolio never deletes accounts or assets.
      operationId: deletePortfolio
      parameters:
        - $ref: '#/components/parameters/MutablePortfolioId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200': { $ref: '#/components/responses/PortfolioDeleteResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /portfolios/{portfolio_id}/accounts:
    post:
      tags: [Portfolios]
      summary: Bind an account to a portfolio
      description: Requires `portfolio:write` and `Idempotency-Key`. `global` cannot be changed.
      operationId: bindPortfolioAccount
      parameters:
        - $ref: '#/components/parameters/MutablePortfolioId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { $ref: '#/components/requestBodies/PortfolioAccountRequest' }
      responses:
        '200': { $ref: '#/components/responses/PortfolioMembershipResponse' }
        '403': { $ref: '#/components/responses/ResourcePlanLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /portfolios/{portfolio_id}/accounts/{account_id}:
    delete:
      tags: [Portfolios]
      summary: Unbind an account from a portfolio
      description: Requires `portfolio:write` and `Idempotency-Key`. `global` cannot be changed.
      operationId: unbindPortfolioAccount
      parameters:
        - $ref: '#/components/parameters/MutablePortfolioId'
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204': { description: Account unbound. }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /portfolios/{portfolio_id}/summary:
    get:
      tags: [Portfolios]
      summary: Get portfolio equity and risk summary
      description: Requires `portfolio:read`. Aggregated monetary amounts use `base_currency`; risk fields are contained in `risk`.
      operationId: getPortfolioSummary
      parameters: [{ $ref: '#/components/parameters/PortfolioId' }, { $ref: '#/components/parameters/BaseCurrency' }, { $ref: '#/components/parameters/Venue' }, { $ref: '#/components/parameters/Tag' }, { $ref: '#/components/parameters/AggregationAccountStatus' }]
      responses:
        '200': { $ref: '#/components/responses/PortfolioSummaryResponse' }
        '403': { $ref: '#/components/responses/ResourcePlanLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /portfolios/{portfolio_id}/balances:
    get:
      tags: [Portfolios]
      summary: List aggregated portfolio balances
      description: Requires `portfolio:read`.
      operationId: listPortfolioBalances
      parameters: [{ $ref: '#/components/parameters/PortfolioId' }, { $ref: '#/components/parameters/BaseCurrency' }, { $ref: '#/components/parameters/Venue' }, { $ref: '#/components/parameters/Tag' }, { $ref: '#/components/parameters/AggregationAccountStatus' }, { $ref: '#/components/parameters/Asset' }, { $ref: '#/components/parameters/MinValue' }, { $ref: '#/components/parameters/IncludeZero' }, { $ref: '#/components/parameters/IncludeSources' }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Offset' }]
      responses:
        '200': { $ref: '#/components/responses/PortfolioBalancesResponse' }
        '403': { $ref: '#/components/responses/ResourcePlanLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /portfolios/{portfolio_id}/positions:
    get:
      tags: [Portfolios]
      summary: List aggregated portfolio positions
      description: Requires `portfolio:read`. `mode` currently accepts `net` or `flat`; `both` is not implemented.
      operationId: listPortfolioPositions
      parameters: [{ $ref: '#/components/parameters/PortfolioId' }, { $ref: '#/components/parameters/BaseCurrency' }, { $ref: '#/components/parameters/Venue' }, { $ref: '#/components/parameters/Tag' }, { $ref: '#/components/parameters/AggregationAccountStatus' }, { $ref: '#/components/parameters/AggregationMode' }, { $ref: '#/components/parameters/Symbol' }, { $ref: '#/components/parameters/PortfolioPositionSide' }, { $ref: '#/components/parameters/InstrumentType' }, { $ref: '#/components/parameters/MarginMode' }, { $ref: '#/components/parameters/IncludeSources' }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Offset' }]
      responses:
        '200': { $ref: '#/components/responses/PortfolioPositionsResponse' }
        '403': { $ref: '#/components/responses/ResourcePlanLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/valuation-history:
    get:
      tags: [Valuation]
      summary: List daily account valuation history
      description: Requires `account:read` and an active Plus or Pro subscription. Returns immutable UTC daily valuation/NAV snapshots using cursor pagination. This is not performance history and does not return P&L or returns.
      operationId: listAccountValuationHistory
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/ReportingCurrency' }, { $ref: '#/components/parameters/From' }, { $ref: '#/components/parameters/To' }, { $ref: '#/components/parameters/CursorLimit' }, { $ref: '#/components/parameters/Cursor' }]
      responses:
        '200': { $ref: '#/components/responses/AccountValuationHistoryResponse' }
        '403': { $ref: '#/components/responses/PlanRequiredResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /portfolios/{portfolio_id}/valuation-history:
    get:
      tags: [Valuation]
      summary: List daily portfolio valuation history
      description: Requires `portfolio:read` and an active Plus or Pro subscription. Returns immutable UTC daily valuation/NAV snapshots using cursor pagination. This is not performance history and does not return P&L or returns.
      operationId: listPortfolioValuationHistory
      parameters: [{ $ref: '#/components/parameters/PortfolioId' }, { $ref: '#/components/parameters/ReportingCurrency' }, { $ref: '#/components/parameters/From' }, { $ref: '#/components/parameters/To' }, { $ref: '#/components/parameters/CursorLimit' }, { $ref: '#/components/parameters/Cursor' }]
      responses:
        '200': { $ref: '#/components/responses/PortfolioValuationHistoryResponse' }
        '403': { $ref: '#/components/responses/PlanRequiredResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/open-orders:
    get:
      tags: [Activity]
      summary: List live open orders
      description: Requires `order:read`. Reads the connected CEX in real time, not local order history.
      operationId: listOpenOrders
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/Symbol' }]
      responses:
        '200': { $ref: '#/components/responses/OpenOrdersResponse' }
        '400': { $ref: '#/components/responses/SymbolRequiredResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
    delete:
      tags: [Trading]
      summary: Cancel all live open orders for one market
      description: Requires `trade:write`, an active Plus or Pro subscription, `Idempotency-Key`, and `otp_code`. `symbol` is required; the server never cancels every market by default.
      operationId: cancelAllOpenOrders
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/CancelAllOrdersRequest' }
      responses:
        '200': { $ref: '#/components/responses/CancelAllOrdersResponse' }
        '400': { $ref: '#/components/responses/InvalidProtectedActionResponse' }
        '403': { $ref: '#/components/responses/ProtectedActionForbiddenResponse' }
        '409': { $ref: '#/components/responses/IdempotencyConflictResponse' }
        '422': { $ref: '#/components/responses/CancelAllUnsupportedResponse' }
        '429': { $ref: '#/components/responses/ActionRateLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/open-orders/{venue_order_id}:
    get:
      tags: [Activity]
      summary: Get one live open order
      description: Requires `order:read`. `venue_order_id` is the CEX ID, not a local `ord_*` history ID.
      operationId: getOpenOrder
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/VenueOrderId' }, { $ref: '#/components/parameters/Symbol' }]
      responses:
        '200': { $ref: '#/components/responses/OpenOrderResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
    delete:
      tags: [Trading]
      summary: Cancel one live open order
      description: Requires `trade:write`, an active Plus or Pro subscription, `Idempotency-Key`, and `otp_code`.
      operationId: cancelOpenOrder
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/VenueOrderId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/CancelOrderRequest' }
      responses:
        '200': { $ref: '#/components/responses/CancelOrderResponse' }
        '400': { $ref: '#/components/responses/InvalidProtectedActionResponse' }
        '403': { $ref: '#/components/responses/ProtectedActionForbiddenResponse' }
        '409': { $ref: '#/components/responses/IdempotencyConflictResponse' }
        '429': { $ref: '#/components/responses/ActionRateLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
    patch:
      tags: [Trading]
      summary: Natively amend one live order
      description: Requires `trade:write`, an active Plus or Pro subscription, `Idempotency-Key`, and `otp_code`. Only available when the connector supports native CCXT `editOrder`; it never falls back to cancel-and-replace.
      operationId: amendOpenOrder
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/VenueOrderId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/OrderRequest' }
      responses:
        '200': { $ref: '#/components/responses/AmendOrderResponse' }
        '400': { $ref: '#/components/responses/InvalidProtectedActionResponse' }
        '403': { $ref: '#/components/responses/ProtectedActionForbiddenResponse' }
        '409': { $ref: '#/components/responses/IdempotencyConflictResponse' }
        '422': { $ref: '#/components/responses/OrderAmendUnsupportedResponse' }
        '429': { $ref: '#/components/responses/ActionRateLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /order-history:
    get:
      tags: [Activity]
      summary: List local terminal order history
      description: Requires `order:read` and an active Plus or Pro subscription. Uses cursor pagination and returns collection coverage metadata for the local 7-day continuous-collection window.
      operationId: listOrderHistory
      parameters: [{ $ref: '#/components/parameters/AccountIdQuery' }, { $ref: '#/components/parameters/Symbol' }, { $ref: '#/components/parameters/OrderStatus' }, { $ref: '#/components/parameters/From' }, { $ref: '#/components/parameters/To' }, { $ref: '#/components/parameters/CursorLimit' }, { $ref: '#/components/parameters/Cursor' }]
      responses:
        '200': { $ref: '#/components/responses/OrderHistoryResponse' }
        '403': { $ref: '#/components/responses/PlanRequiredResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /trades:
    get:
      tags: [Activity]
      summary: List fills and execution history
      description: Requires `trade:read` and an active Plus or Pro subscription. Uses cursor pagination.
      operationId: listTrades
      parameters: [{ $ref: '#/components/parameters/AccountIdQuery' }, { $ref: '#/components/parameters/Symbol' }, { $ref: '#/components/parameters/From' }, { $ref: '#/components/parameters/To' }, { $ref: '#/components/parameters/CursorLimit' }, { $ref: '#/components/parameters/Cursor' }]
      responses:
        '200': { $ref: '#/components/responses/TradesResponse' }
        '403': { $ref: '#/components/responses/PlanRequiredResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /ledger:
    get:
      tags: [Activity]
      summary: List ledger entries
      description: Requires `ledger:read` and an active Plus or Pro subscription. This is not a tax-grade PnL statement.
      operationId: listLedgerEntries
      parameters: [{ $ref: '#/components/parameters/AccountIdQuery' }, { $ref: '#/components/parameters/EntryType' }, { $ref: '#/components/parameters/Asset' }, { $ref: '#/components/parameters/Symbol' }, { $ref: '#/components/parameters/VenueSymbol' }, { $ref: '#/components/parameters/From' }, { $ref: '#/components/parameters/To' }, { $ref: '#/components/parameters/CursorLimit' }, { $ref: '#/components/parameters/Cursor' }]
      responses:
        '200': { $ref: '#/components/responses/LedgerResponse' }
        '403': { $ref: '#/components/responses/PlanRequiredResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /transactions:
    get:
      tags: [Activity]
      summary: List CEX deposit, withdrawal, and visible transfer history
      description: Requires `funding:read` and an active Plus or Pro subscription. It returns read-only, masked history from the unified Transaction resource; it never enables a transfer or withdrawal.
      operationId: listTransactions
      parameters: [{ $ref: '#/components/parameters/AccountIdQuery' }, { $ref: '#/components/parameters/TransactionType' }, { $ref: '#/components/parameters/ActivityStatus' }, { $ref: '#/components/parameters/Asset' }, { $ref: '#/components/parameters/From' }, { $ref: '#/components/parameters/To' }, { $ref: '#/components/parameters/CursorLimit' }, { $ref: '#/components/parameters/Cursor' }]
      responses:
        '200': { $ref: '#/components/responses/TransactionsResponse' }
        '403': { $ref: '#/components/responses/PlanRequiredResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/activity-history-imports:
    post:
      tags: [Activity]
      summary: Start a bounded activity-history import
      description: Requires `activity:write`, an effective Plus or Pro subscription, `Idempotency-Key`, and the read scope matching `activity_type`. The default maximum range is 90 days. Each user and connected CEX credential has 168 daily work-units, measured as the requested range rounded up to hours. The request does not require a trading OTP and clients must not bypass the quota by automatically splitting or retrying requests.
      operationId: startActivityHistoryImport
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/ActivityHistoryImportRequest' }
      responses:
        '202': { $ref: '#/components/responses/ActivityHistoryImportResponse' }
        '400': { $ref: '#/components/responses/ErrorResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
        '409': { $ref: '#/components/responses/ErrorResponse' }
        '422': { $ref: '#/components/responses/ErrorResponse' }
        '429': { $ref: '#/components/responses/ActivityHistoryImportRateLimitedResponse' }
        '503': { $ref: '#/components/responses/ErrorResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /activity-history-imports/{import_id}:
    get:
      tags: [Activity]
      summary: Get an activity-history import
      description: Requires the read scope matching the import's activity type. A failed task can retain partial counts and successfully written activity facts; interrupted tasks do not resume automatically.
      operationId: getActivityHistoryImport
      parameters: [{ $ref: '#/components/parameters/ActivityHistoryImportId' }]
      responses:
        '200': { $ref: '#/components/responses/ActivityHistoryImportResponse' }
        '403': { $ref: '#/components/responses/ErrorResponse' }
        '404': { $ref: '#/components/responses/ErrorResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/orders:
    post:
      tags: [Trading]
      summary: Place an order
      description: Requires `trade:write`, an active Plus or Pro subscription, explicit user confirmation, `Idempotency-Key`, and a current `otp_code`.
      operationId: placeOrder
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/OrderRequest' }
      responses:
        '200': { $ref: '#/components/responses/PlaceOrderResponse' }
        '400': { $ref: '#/components/responses/InvalidProtectedActionResponse' }
        '403': { $ref: '#/components/responses/ProtectedActionForbiddenResponse' }
        '409': { $ref: '#/components/responses/IdempotencyConflictResponse' }
        '429': { $ref: '#/components/responses/ActionRateLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /accounts/{account_id}/internal-transfers:
    post:
      tags: [Trading]
      summary: Start an internal CEX transfer
      description: Requires `transfer:write`, an active Plus or Pro subscription, explicit user confirmation, `Idempotency-Key`, and a current `otp_code`. The transfer is restricted to two account partitions of the same CEX account.
      operationId: startInternalTransfer
      parameters: [{ $ref: '#/components/parameters/AccountId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/InternalTransferRequest' }
      responses:
        '200': { $ref: '#/components/responses/InternalTransferResponse' }
        '400': { $ref: '#/components/responses/InvalidProtectedActionResponse' }
        '403': { $ref: '#/components/responses/ProtectedActionForbiddenResponse' }
        '409': { $ref: '#/components/responses/IdempotencyConflictResponse' }
        '429': { $ref: '#/components/responses/ActionRateLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
  /market-data/quote:
    get:
      tags: [Market data]
      summary: Get a CEX market quote
      description: Requires `marketdata:read`. Returns one raw normalized ticker from a CEX credential already connected by this user. It never reads a balance or position, uses the internal valuation price or cache, persists the quote, or falls back to another venue. An omitted `venue` selects one healthy connected CEX and returns its actual `source_venue`; a supplied `venue` is a strict constraint.
      operationId: getMarketQuote
      parameters: [{ $ref: '#/components/parameters/MarketSymbol' }, { $ref: '#/components/parameters/MarketVenue' }]
      responses:
        '200': { $ref: '#/components/responses/MarketQuoteResponse' }
        '400': { $ref: '#/components/responses/InvalidMarketDataQueryResponse' }
        '404': { $ref: '#/components/responses/MarketVenueUnavailableResponse' }
        '412': { $ref: '#/components/responses/MarketQuoteUnavailableResponse' }
        '429': { $ref: '#/components/responses/MarketRateLimitedResponse' }
        '503': { $ref: '#/components/responses/MarketDataUnavailableResponse' }
  /market-data/candles:
    get:
      tags: [Market data]
      summary: List bounded CEX OHLCV candles
      description: Requires `marketdata:read`. Returns a bounded raw OHLCV series from one CEX credential already connected by this user. It never reads a balance or position, uses an internal valuation price or cache, persists candles, retries across venues, or falls back to another venue. The accepted interval enum is the complete CCXT v4.5.65 `exchange.timeframes` key union; a specific CEX can support only a subset. Maximum lookback from `from` is 1 day for `1s`, 3 days for `10s`, 7 days for `1m`, 21 days for `3m`, 30 days for `5m`, 60 days for `10m`, 90 days for `15m`, 180 days for `30m`, 270 days for `45m`, 1 year for `1h`, 2 years for `2h`/`3h`/`4h`, 3 years for `6h`/`8h`, 4 years for `12h`, and 5 years for day/week/month/year intervals. Month and year close times use CCXT's 30-day and 365-day timeframe semantics, not a guaranteed CEX calendar boundary.
      operationId: listMarketCandles
      parameters: [{ $ref: '#/components/parameters/MarketSymbol' }, { $ref: '#/components/parameters/CandleInterval' }, { $ref: '#/components/parameters/MarketVenue' }, { $ref: '#/components/parameters/MarketFrom' }, { $ref: '#/components/parameters/MarketTo' }, { $ref: '#/components/parameters/CandleLimit' }, { $ref: '#/components/parameters/IncludeIncomplete' }]
      responses:
        '200': { $ref: '#/components/responses/MarketCandlesResponse' }
        '400': { $ref: '#/components/responses/InvalidMarketDataQueryResponse' }
        '404': { $ref: '#/components/responses/MarketVenueUnavailableResponse' }
        '412': { $ref: '#/components/responses/MarketCandlesUnsupportedResponse' }
        '429': { $ref: '#/components/responses/MarketRateLimitedResponse' }
        '503': { $ref: '#/components/responses/MarketDataUnavailableResponse' }
  /support/problems:
    post:
      tags: [Support]
      summary: Submit a support problem
      description: Authentication is optional. Anonymous submissions must provide `email`; authenticated requests need no business scope.
      security: []
      operationId: submitSupportProblem
      requestBody: { $ref: '#/components/requestBodies/SupportProblemRequest' }
      responses:
        '201': { $ref: '#/components/responses/SupportProblemResponse' }
        '400': { $ref: '#/components/responses/InvalidSupportProblemResponse' }
        '401': { $ref: '#/components/responses/InvalidAuthenticationResponse' }
        '413': { $ref: '#/components/responses/SupportPayloadTooLargeResponse' }
        '429': { $ref: '#/components/responses/SupportRateLimitedResponse' }
        default: { $ref: '#/components/responses/ErrorResponse' }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: Portfobit Open API key }
  parameters:
    AccountId: { name: account_id, in: path, required: true, schema: { type: string }, description: Connected CEX account ID. }
    AccountIdQuery: { name: account_id, in: query, schema: { type: string }, description: Restrict results to one connected CEX account. }
    PortfolioId: { name: portfolio_id, in: path, required: true, schema: { type: string }, description: Portfolio ID; `global` is the current user's all-account view. }
    MutablePortfolioId: { name: portfolio_id, in: path, required: true, schema: { type: string, not: { const: global } }, description: User-created portfolio ID; `global` cannot be changed. }
    SyncId: { name: sync_id, in: path, required: true, schema: { type: string } }
    ActivityHistoryImportId: { name: import_id, in: path, required: true, schema: { type: string }, description: Activity-history import task ID. }
    VenueOrderId: { name: venue_order_id, in: path, required: true, schema: { type: string }, description: "CEX live-order ID, not a local order-history ID." }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 1, maxLength: 255 }, description: "Opaque retry key, unique to the same user, method, and path." }
    Limit: { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
    Offset: { name: offset, in: query, schema: { type: integer, minimum: 0, default: 0 } }
    CursorLimit: { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
    Cursor: { name: cursor, in: query, schema: { type: string }, description: Cursor returned as `next_cursor` by a prior page. }
    IncludeDeprecated: { name: include_deprecated, in: query, schema: { type: boolean, default: false } }
    ConnectorStatus: { name: status, in: query, schema: { type: string, enum: [available, coming_soon, disabled, all], default: available } }
    AccountStatus: { name: status, in: query, schema: { type: string, enum: [active, syncing, error, expired, disabled] } }
    AggregationAccountStatus: { name: account_status, in: query, schema: { type: string, enum: [active, syncing, error, expired, disabled] } }
    ActivityStatus: { name: status, in: query, schema: { type: string }, description: CEX-normalized transaction status. }
    OrderStatus: { name: status, in: query, schema: { type: string, enum: [closed, canceled, expired, rejected] } }
    TransactionType: { name: type, in: query, schema: { type: string, enum: [deposit, withdrawal, transfer] }, description: CCXT transaction type. }
    VenueSymbol: { name: venue_symbol, in: query, schema: { type: string }, description: "Venue-native market ID, for example BTCUSDT." }
    Venue: { name: venue, in: query, schema: { type: string }, description: CEX identifier. }
    Tag: { name: tag, in: query, schema: { type: string }, description: "Exact, case-sensitive tag filter." }
    IncludeGlobal: { name: include_global, in: query, schema: { type: boolean, default: true } }
    Asset: { name: asset, in: query, schema: { type: string } }
    AssetLocation:
      name: asset_location
      in: query
      schema: { type: string, enum: [trading, earn_flexible, earn_locked, staking, funding, derivatives_linear, derivatives_inverse] }
      description: Balance location. `funding` is the Binance Funding Wallet or OKX Funding Account; `derivatives_linear` and `derivatives_inverse` are Binance USD-M and COIN-M net margin-balance locations.
    MinValue: { name: min_value, in: query, schema: { type: string }, description: Decimal-string minimum valuation. }
    ValueCurrency: { name: value_currency, in: query, schema: { type: string, default: USD } }
    BaseCurrency: { name: base_currency, in: query, schema: { type: string, default: USD } }
    ReportingCurrency: { name: reporting_currency, in: query, schema: { type: string, default: USD, enum: [USD] }, description: Valuation reporting currency; currently USD only. }
    IncludeZero: { name: include_zero, in: query, schema: { type: boolean, default: false } }
    IncludeSources: { name: include_sources, in: query, schema: { type: boolean, default: false } }
    Symbol: { name: symbol, in: query, schema: { type: string }, description: CCXT unified symbol. }
    RequiredSymbol: { name: symbol, in: query, required: true, schema: { type: string }, description: CCXT unified symbol. }

    MarketSymbol:
      name: symbol
      in: query
      required: true
      schema: { type: string }
      description: CCXT unified symbol, for example `BTC/USDT` or `ETH/USDT:USDT`.
    MarketVenue:
      name: venue
      in: query
      schema: { type: string }
      description: Optional connected CEX venue. When supplied, it is a strict source constraint; when omitted, one healthy connected venue is selected.
    MarketFrom:
      name: from
      in: query
      schema: { type: string, format: date-time }
      description: Optional RFC 3339 UTC start time. Together with `to`, only candles whose open time is in `[from, to)` are returned.
    MarketTo:
      name: to
      in: query
      schema: { type: string, format: date-time }
      description: Optional RFC 3339 UTC end time. It must not be in the future; when provided without `from`, the service derives `from` from `limit`.
    CandleInterval:
      name: interval
      in: query
      required: true
      schema:
        type: string
        enum: [1s, 10s, 1m, 3m, 5m, 10m, 15m, 30m, 45m, 1h, 2h, 3h, 4h, 6h, 8h, 12h, 1d, 3d, 5d, 7d, 1w, 2w, 3w, 4w, 1M, 3M, 4M, 5M, 1y]
      description: Complete CCXT v4.5.65 `exchange.timeframes` key union. Actual availability depends on the selected CEX.
    PositionSide: { name: side, in: query, schema: { type: string, enum: [long, short] } }
    PortfolioPositionSide: { name: side, in: query, schema: { type: string, enum: [long, short, flat] } }
    InstrumentType: { name: type, in: query, schema: { type: string, enum: [spot, margin, swap, future, option] } }
    MarginMode: { name: margin_mode, in: query, schema: { type: string, enum: [cross, isolated, none] } }
    AggregationMode: { name: mode, in: query, schema: { type: string, enum: [net, flat], default: net } }
    EntryType: { name: entry_type, in: query, schema: { type: string } }
    From: { name: from, in: query, schema: { type: string, format: date-time }, description: Inclusive RFC 3339 UTC timestamp. }
    To: { name: to, in: query, schema: { type: string, format: date-time }, description: Inclusive RFC 3339 UTC timestamp. }
    CandleLimit: { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 500, default: 100 }, description: Maximum candles from one bounded upstream request. }
    IncludeIncomplete:
      name: include_incomplete
      in: query
      schema: { type: boolean, default: false }
      description: "Include the current unfinished candle and mark it with `is_closed: false`."
  requestBodies:
    CreateAccountRequest:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/CreateAccountRequest' } } }
    AccountTagsRequest:
      required: true
      content: { application/json: { schema: { type: object, required: [tags], properties: { tags: { type: array, items: { type: string } } }, additionalProperties: false } } }
    PortfolioRequest:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/PortfolioRequest' } } }
    PortfolioAccountRequest:
      required: true
      content: { application/json: { schema: { type: object, required: [account_id], properties: { account_id: { type: string } }, additionalProperties: false } } }
    OrderRequest:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/OrderRequest' } } }
    CancelOrderRequest:
      required: true
      content: { application/json: { schema: { type: object, required: [symbol, otp_code], properties: { symbol: { type: string }, otp_code: { type: string, pattern: '^[0-9]{6}$', writeOnly: true }, client_order_id: { type: string } }, additionalProperties: false } } }
    CancelAllOrdersRequest:
      required: true
      content: { application/json: { schema: { type: object, required: [symbol, otp_code], properties: { symbol: { type: string }, otp_code: { type: string, pattern: '^[0-9]{6}$', writeOnly: true } }, additionalProperties: false } } }
    InternalTransferRequest:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/InternalTransferRequest' } } }
    ActivityHistoryImportRequest:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/ActivityHistoryImportRequest' } } }
    SupportProblemRequest:
      required: true
      content: { application/json: { schema: { type: object, required: [problem], properties: { problem: { type: string }, full_name: { type: string }, email: { type: string, format: email, description: Required for anonymous requests. }, phone_number: { type: string } }, additionalProperties: false } } }
  schemas:
    Meta:
      type: object
      required: [request_id, generated_at]
      properties: { request_id: { type: string }, generated_at: { type: string, format: date-time } }
    PageMeta:
      allOf:
        - $ref: '#/components/schemas/Meta'
        - type: object
          required: [total, limit, offset, has_next]
          properties: { total: { type: integer, minimum: 0 }, limit: { type: integer }, offset: { type: integer }, has_next: { type: boolean } }
    CursorMeta:
      allOf:
        - $ref: '#/components/schemas/Meta'
        - type: object
          required: [limit, next_cursor, has_next]
          properties:
            limit: { type: integer }
            next_cursor: { type: [string, 'null'] }
            has_next: { type: boolean }
            activity_history_collection: { type: object, properties: { window_days: { type: integer, const: 7 }, status: { type: string, enum: [complete, incomplete] } } }
    Error: { type: object, required: [code, message], properties: { code: { type: string }, message: { type: string }, details: { type: object, additionalProperties: true } } }
    ErrorEnvelope: { type: object, required: [error, meta], properties: { error: { $ref: '#/components/schemas/Error' }, meta: { $ref: '#/components/schemas/Meta' } } }
    Permissions:
      type: object
      description: User-declared CEX credential capabilities and execution switches. A capability outside a connector's `inspectable_permissions` remains unknown rather than denied; an explicit denial requires reliable provider evidence.
      required: [read, trade, transfer, withdraw]
      properties: { read: { type: boolean }, trade: { type: boolean }, transfer: { type: boolean }, withdraw: { type: boolean, const: false } }
    CreateAccountRequest:
      type: object
      required: [name, connector_id, credentials]
      properties: { name: { type: string }, connector_id: { type: string }, requested_permissions: { $ref: '#/components/schemas/Permissions' }, tags: { type: array, items: { type: string } }, credentials: { type: object, additionalProperties: { type: string }, writeOnly: true } }
      additionalProperties: false
    PortfolioRequest:
      type: object
      properties: { name: { type: string }, description: { type: [string, 'null'] }, base_currency: { type: string, default: USD }, tags: { type: array, items: { type: string } }, account_ids: { type: array, items: { type: string } } }
      additionalProperties: false
    OrderRequest:
      type: object
      required: [symbol, side, type, amount, otp_code]
      properties: { symbol: { type: string }, side: { type: string, enum: [buy, sell] }, type: { type: string }, amount: { type: string }, price: { type: [string, 'null'] }, reduce_only: { type: boolean, default: false }, client_order_id: { type: string }, otp_code: { type: string, pattern: '^[0-9]{6}$', writeOnly: true } }
      additionalProperties: false
    InternalTransferRequest:
      type: object
      required: [from_account_type, to_account_type, asset, amount, otp_code]
      properties: { from_account_type: { type: string }, to_account_type: { type: string }, asset: { type: string }, amount: { type: string }, otp_code: { type: string, pattern: '^[0-9]{6}$', writeOnly: true }, client_order_id: { type: string } }
      additionalProperties: false
    ActivityHistoryImportRequest:
      type: object
      required: [activity_type, from, to]
      properties:
        activity_type: { type: string, enum: [order_history, trades, ledger, transactions] }
        symbol: { type: [string, 'null'], description: Optional exact CCXT unified symbol. An omitted symbol does not guarantee discovery of every inactive historical market. }
        from: { type: string, format: date-time, description: Inclusive RFC 3339 UTC start time. }
        to: { type: string, format: date-time, description: Exclusive RFC 3339 UTC end time; it must not be in the future. }
      additionalProperties: false
      example:
        activity_type: trades
        symbol: BTC/USDT
        from: '2025-01-01T00:00:00Z'
        to: '2025-02-01T00:00:00Z'
    ActivityHistoryImport:
      type: object
      required: [id, account_id, venue, activity_type, symbol, requested_from, requested_to, status, fetched_count, written_count, skipped_count, page_count, failure_code, failure_message, started_at, completed_at, deadline_at]
      properties:
        id: { type: string }
        account_id: { type: string }
        venue: { type: string }
        activity_type: { type: string, enum: [order_history, trades, ledger, transactions] }
        symbol: { type: [string, 'null'] }
        requested_from: { type: string, format: date-time }
        requested_to: { type: string, format: date-time }
        status: { type: string, enum: [queued, running, succeeded, failed] }
        fetched_count: { type: integer, minimum: 0 }
        written_count: { type: integer, minimum: 0 }
        skipped_count: { type: integer, minimum: 0 }
        page_count: { type: integer, minimum: 0 }
        failure_code: { type: [string, 'null'] }
        failure_message: { type: [string, 'null'] }
        started_at: { type: [string, 'null'], format: date-time }
        completed_at: { type: [string, 'null'], format: date-time }
        deadline_at: { type: string, format: date-time }
    ActivityHistoryImportResponseSchema:
      type: object
      required: [data, meta]
      properties:
        data: { $ref: '#/components/schemas/ActivityHistoryImport' }
        meta: { $ref: '#/components/schemas/Meta' }
      example:
        data:
          id: ahi_01J2K8H
          account_id: acc_01H8XFK9A
          venue: binance
          activity_type: trades
          symbol: BTC/USDT
          requested_from: '2025-01-01T00:00:00Z'
          requested_to: '2025-02-01T00:00:00Z'
          status: queued
          fetched_count: 0
          written_count: 0
          skipped_count: 0
          page_count: 0
          failure_code:
          failure_message:
          started_at:
          completed_at:
          deadline_at: '2026-09-01T10:05:00Z'
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-09-01T10:00:00Z'
    ActivityHistoryImportRateLimitedResponseSchema:
      type: object
      required: [error, meta]
      properties:
        error:
          type: object
          required: [code, message, details]
          properties:
            code: { type: string, const: activity_history_import_rate_limited }
            message: { type: string }
            details:
              type: [object, 'null']
              description: No remaining-budget projection is exposed.
        meta: { $ref: '#/components/schemas/Meta' }
      example:
        error:
          code: activity_history_import_rate_limited
          message: The daily activity-history import allowance has been reached.
          details:
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-09-01T10:00:00Z'
    Risk:
      type: object
      required: [status, level, reasons, metrics]
      properties:
        status: { type: string, enum: [available, partial, unavailable, not_applicable], description: "`not_applicable` means there was no applicable specialized risk assessment; it does not mean low risk." }
        level: { type: string, enum: [low, medium, high, critical, unknown] }
        model_version: { type: [string, 'null'] }
        as_of: { type: [string, 'null'], format: date-time }
        reasons: { type: array, items: { type: object, required: [code, severity, message], properties: { code: { type: string }, severity: { type: string }, message: { type: string } } } }
        metrics: { type: object, additionalProperties: { type: [string, 'null'] }, description: "Includes applicable derived exposure, margin, leverage, concentration, and liquidation-distance metrics." }
    InvalidConnectorIdResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: invalid_connector_id
          message: Connector ID is invalid.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    ConnectorNotFoundResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required:
              - connector_id
              properties:
                connector_id:
                  type: string
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: connector_not_found
          message: Connector not found.
          details:
            connector_id: con_unknown
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    AccountCreationConflictResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
              enum: [connector_unavailable, duplicate_account_name, duplicate_account_connection, idempotency_conflict, plan_limit_reached]
            message:
              type: string
            details:
              type: object
              required: []
              properties:
                resource_type: { type: string }
                used: { type: integer }
                limit: { type: integer }
                current_plan: { type: string }
                required_plan: { type: string }
                upgrade_available: { type: boolean }
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: duplicate_account_connection
          message: This CEX credential is already connected.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    InvalidAccountUpdateResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: invalid_request
          message: Provide a valid tags array.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    AccountNameWebOnlyResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: account_name_web_only
          message: Account name changes must be completed in Portfobit Web.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    NoSyncableAccountsResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: no_syncable_accounts
          message: No eligible accounts are available for synchronization.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    SyncRateLimitedResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required:
              - sync_quota
              properties:
                sync_quota:
                  type: object
                  required:
                  - limit
                  - remaining
                  - reset_at
                  properties:
                    limit:
                      type: integer
                    remaining:
                      type: integer
                    reset_at:
                      type: string
                      format: date-time
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: sync_rate_limited
          message: The daily manual sync limit has been reached.
          details:
            sync_quota:
              limit: 20
              remaining: 0
              reset_at: '2026-08-09T00:00:00Z'
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    PlanLimitReachedResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required:
              - resource_type
              - used
              - limit
              - current_plan
              - required_plan
              - upgrade_available
              properties:
                resource_type:
                  type: string
                used:
                  type: integer
                limit:
                  type: integer
                current_plan:
                  type: string
                required_plan:
                  type: string
                upgrade_available:
                  type: boolean
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: plan_limit_reached
          message: The Free plan allows up to 3 available accounts.
          details:
            resource_type: account
            used: 3
            limit: 3
            current_plan: Free
            required_plan: Plus
            upgrade_available: true
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    PlanRequiredResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required:
              - feature
              - required_plan
              - current_plan
              properties:
                feature:
                  type: string
                required_plan:
                  type: string
                current_plan:
                  type: string
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: plan_required
          message: This operation requires an active Plus or Pro subscription.
          details:
            feature: activity_history
            required_plan: Plus
            current_plan: Free
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    ResourcePlanLimitedResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required:
              - resource_type
              - resource_id
              - current_plan
              - limit
              - upgrade_path
              properties:
                resource_type:
                  type: string
                resource_id:
                  type: string
                current_plan:
                  type: string
                limit:
                  type: integer
                upgrade_path:
                  type: string
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: resource_plan_limited
          message: This portfolio is retained but unavailable on the Free plan.
          details:
            resource_type: portfolio
            resource_id: pf_01J2K7M9N3
            current_plan: Free
            limit: 3
            upgrade_path: Plus
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    AuthenticationRequiredResponseSchema:
      type: object
      required: [error, meta]
      properties:
        error:
          type: object
          required: [code, message, details]
          properties:
            code: { type: string, const: authentication_required }
            message: { type: string }
            details: { type: [object, 'null'] }
        meta: { $ref: '#/components/schemas/Meta' }
      example:
        error:
          code: authentication_required
          message: A valid Portfobit Open API key is required.
          details:
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-09-13T08:00:00Z'
    InvalidAssetLocationResponseSchema:
      type: object
      required: [error, meta]
      properties:
        error:
          type: object
          required: [code, message, details]
          properties:
            code: { type: string, const: invalid_asset_location }
            message: { type: string }
            details: { type: [object, 'null'] }
        meta: { $ref: '#/components/schemas/Meta' }
      example:
        error:
          code: invalid_asset_location
          message: asset_location must be one of trading, earn_flexible, earn_locked, staking, funding, derivatives_linear, derivatives_inverse.
          details:
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-09-03T08:00:00Z'
    SymbolRequiredResponseSchema:
      type: object
      required: [error, meta]
      properties:
        error:
          type: object
          required: [code, message, details]
          properties:
            code: { type: string, const: symbol_required }
            message: { type: string }
            details:
              type: [object, 'null']
        meta: { $ref: '#/components/schemas/Meta' }
      example:
        error:
          code: symbol_required
          message: A CCXT unified symbol is required by this connector.
          details:
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-16T08:00:00Z'
    InvalidProtectedActionResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
              enum: [invalid_order_parameters, invalid_internal_transfer]
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: invalid_order_parameters
          message: A limit order requires a price.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    ProtectedActionForbiddenResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
              enum: [plan_required, trading_otp_required, trading_otp_invalid, provider_permission_denied, risk_blocked]
            message:
              type: string
            details:
              type: object
              required: []
              properties:
                risk:
                  $ref: '#/components/schemas/Risk'
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: trading_otp_required
          message: A current trading OTP is required before this action can run.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    IdempotencyConflictResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: idempotency_conflict
          message: This Idempotency-Key was already used for a different request.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    CancelAllUnsupportedResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: cancel_all_orders_unsupported
          message: This CEX connector does not support native bulk cancellation.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    OrderAmendUnsupportedResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: order_amend_unsupported
          message: This CEX connector does not support native order amendment.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    ActionRateLimitedResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: action_rate_limited
          message: This protected action is temporarily rate limited.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    MarketVenueUnavailableResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required:
              - venue
              properties:
                venue:
                  type: string
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: market_venue_not_available
          message: The requested market venue is not available.
          details:
            venue: binance
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    MarketRateLimitedResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: market_upstream_rate_limited
          message: The market-data provider is rate limited.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    InvalidSupportProblemResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
              enum: [email_required_for_anonymous_problem, invalid_problem_payload]
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: email_required_for_anonymous_problem
          message: Email is required for an anonymous support request.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    InvalidAuthenticationResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: invalid_authentication
          message: The supplied authentication credential is invalid.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    SupportPayloadTooLargeResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: problem_payload_too_large
          message: The support problem is too large.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    SupportRateLimitedResponseSchema:
      type: object
      required:
      - error
      - meta
      properties:
        error:
          type: object
          required:
          - code
          - message
          - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              required: []
              properties: {}
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        error:
          code: problem_rate_limited
          message: Support submissions are temporarily rate limited.
          details: {}
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-08T08:00:00Z'
    AccountResponseSchema:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: object
          required:
          - id
          - connector_id
          - name
          - venue
          - market_type
          - tags
          - portfolio_ids
          - api_key_masked
          - requested_permissions
          - inspectable_permissions
          - permission_status
          - permission_issue_code
          - status
          - subscription_access
          - last_synced_at
          - created_at
          - updated_at
          properties:
            id:
              type: string
            connector_id:
              type: string
            name:
              type: string
            venue:
              type: string
            market_type:
              type: string
            tags:
              type: array
              items:
                type: string
            portfolio_ids:
              type: array
              items:
                type: string
            api_key_masked:
              type: string
            requested_permissions:
              type: object
              required:
              - read
              - trade
              - transfer
              - withdraw
              properties:
                read:
                  type: boolean
                trade:
                  type: boolean
                transfer:
                  type: boolean
                withdraw:
                  type: boolean
            permission_status:
              type: string
              enum:
              - unknown
              - checking
              - verified
              - partially_verified
              - unverified
              - mismatch
              - invalid
              - check_failed
              description: Aggregate permission verification result. `partially_verified` means every inspectable capability is known and matches the user's declaration, while the connector cannot inspect all four capabilities; it is an informational coverage limitation, not a credential failure.
            permission_issue_code:
              type:
              - string
              - 'null'
            inspectable_permissions:
              type: array
              description: Capabilities covered by the latest permission check. This is verification coverage and does not reveal which permissions the API key has.
              items:
                type: string
                enum:
                - read
                - trade
                - transfer
                - withdraw
            status:
              type: string
            subscription_access:
              type: string
            last_synced_at:
              type: string
              format: date-time
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        data:
          id: acc_01H8XFK9A
          connector_id: con_binance
          name: Binance_Main
          venue: binance
          market_type: crypto
          tags:
          - Long_Term
          portfolio_ids:
          - pf_01J2K7M9N3
          api_key_masked: VMx8_ellipsis_9Lp2
          requested_permissions:
            read: true
            trade: false
            transfer: false
            withdraw: false
          permission_status: verified
          permission_issue_code:
          inspectable_permissions:
          - read
          - trade
          - transfer
          - withdraw
          status: active
          subscription_access: available
          last_synced_at: '2026-08-07T08:00:00Z'
          created_at: '2026-08-01T00:00:00Z'
          updated_at: '2026-08-07T08:00:00Z'
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-07T08:00:01Z'
    AccountListResponseSchema:
      type: object
      required:
      - data
      - summary
      - meta
      properties:
        data:
          type: array
          items:
            type: object
            required:
            - id
            - connector_id
            - name
            - venue
            - market_type
            - tags
            - status
            - subscription_access
            - last_synced_at
            properties:
              id:
                type: string
              connector_id:
                type: string
              name:
                type: string
              venue:
                type: string
              market_type:
                type: string
              tags:
                type: array
                items:
                  type: string
              status:
                type: string
              subscription_access:
                type: string
              last_synced_at:
                type: string
                format: date-time
        summary:
          type: object
          required:
          - active_connections
          - total_accounts
          - total_value_synced
          - currency
          - sync_status
          - last_synced_at
          properties:
            active_connections:
              type: integer
            total_accounts:
              type: integer
            total_value_synced:
              type: string
            currency:
              type: string
            sync_status:
              type: string
            last_synced_at:
              type: string
              format: date-time
        meta:
          type: object
          required:
          - total
          - limit
          - offset
          - has_next
          - request_id
          - generated_at
          properties:
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer
            has_next:
              type: boolean
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        data:
        - id: acc_01H8XFK9A
          connector_id: con_binance
          name: Binance_Main
          venue: binance
          market_type: crypto
          tags:
          - Long_Term
          status: active
          subscription_access: available
          last_synced_at: '2026-08-07T08:00:00Z'
        summary:
          active_connections: 1
          total_accounts: 1
          total_value_synced: '1000.00'
          currency: USD
          sync_status: healthy
          last_synced_at: '2026-08-07T08:00:00Z'
        meta:
          total: 1
          limit: 50
          offset: 0
          has_next: false
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-07T08:00:01Z'
    ConnectorListResponseSchema:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            type: object
            required:
            - id
            - venue
            - display_name
            - market_type
            - status
            - requires_ip_whitelist
            - credential_fields
            - permission_check_supported
            - inspectable_permissions
            - sync_supported
            properties:
              id:
                type: string
              venue:
                type: string
              display_name:
                type: string
              market_type:
                type: string
              status:
                type: string
              requires_ip_whitelist:
                type: boolean
              credential_fields:
                type: array
                items:
                  type: object
                  required:
                  - name
                  - label
                  - type
                  - required
                  properties:
                    name:
                      type: string
                    label:
                      type: string
                    type:
                      type: string
                    required:
                      type: boolean
              permission_check_supported:
                type: boolean
              inspectable_permissions:
                type: array
                items:
                  type: string
              sync_supported:
                type: boolean
        meta:
          type: object
          required:
          - total
          - limit
          - offset
          - has_next
          - request_id
          - generated_at
          properties:
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer
            has_next:
              type: boolean
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        data:
        - id: con_binance
          venue: binance
          display_name: Binance
          market_type: crypto
          status: available
          requires_ip_whitelist: true
          credential_fields:
          - name: api_key
            label: API_key
            type: text
            required: true
          - name: api_secret
            label: API_secret
            type: password
            required: true
          permission_check_supported: true
          inspectable_permissions:
          - read
          - trade
          - transfer
          - withdraw
          sync_supported: true
        meta:
          total: 1
          limit: 50
          offset: 0
          has_next: false
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-07T08:00:01Z'
    EgressIpsResponseSchema:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: object
          required:
          - purpose
          - active_ips
          - deprecated_ips
          - last_updated_at
          properties:
            purpose:
              type: string
            active_ips:
              type: array
              items:
                type: object
                required:
                - id
                - ip_address
                - ip_version
                - region
                - provider
                - activated_at
                - migration_status
                properties:
                  id:
                    type: string
                  ip_address:
                    type: string
                  ip_version:
                    type: string
                  region:
                    type: string
                  provider:
                    type: string
                  activated_at:
                    type: string
                    format: date-time
                  migration_status:
                    type: string
            deprecated_ips:
              type: array
              items:
                type: object
            last_updated_at:
              type: string
              format: date-time
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        data:
          purpose: exchange_api
          active_ips:
          - id: eip_01J2K8IP01
            ip_address: 203.0.113.10
            ip_version: ipv4
            region: us-east-1
            provider: aws
            activated_at: '2026-08-01T00:00:00Z'
            migration_status: active
          deprecated_ips: []
          last_updated_at: '2026-08-01T00:00:00Z'
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-07T08:00:01Z'
    SyncResponseSchema:
      type: object
      required:
      - data
      - message
      - meta
      properties:
        data:
          type: object
          required:
          - id
          - account_id
          - trigger_type
          - status
          - started_at
          - finished_at
          - balance_count
          - position_count
          - order_count
          - trade_count
          - ledger_entry_count
          - transaction_count
          - error_code
          - error_message
          properties:
            id:
              type: string
            account_id:
              type: string
            trigger_type:
              type: string
            status:
              type: string
            started_at:
              type: string
              format: date-time
            finished_at:
              type: string
              format: date-time
            balance_count:
              type: integer
            position_count:
              type: integer
            order_count:
              type: integer
            trade_count:
              type: integer
            ledger_entry_count:
              type: integer
            transaction_count:
              type: integer
            error_code:
              type:
              - string
              - 'null'
            error_message:
              type:
              - string
              - 'null'
        message:
          type: string
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        data:
          id: sync_01J2K8NN5T
          account_id: acc_01H8XFK9A
          trigger_type: manual
          status: succeeded
          started_at: '2026-08-07T08:00:00Z'
          finished_at: '2026-08-07T08:00:03Z'
          balance_count: 4
          position_count: 1
          order_count: 2
          trade_count: 3
          ledger_entry_count: 5
          transaction_count: 1
          error_code:
          error_message:
        message: Account_sync_completed
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-07T08:00:03Z'
    SyncListResponseSchema:
      type: object
      required:
      - data
      - message
      - meta
      properties:
        data:
          type: array
          items:
            type: object
            required:
            - id
            - account_id
            - trigger_type
            - status
            properties:
              id:
                type: string
              account_id:
                type: string
              trigger_type:
                type: string
              status:
                type: string
        message:
          type: string
        meta:
          type: object
          required:
          - request_id
          - generated_at
          - sync_quota
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
            sync_quota:
              type: object
              required:
              - scope
              - limit
              - remaining
              - reset_at
              properties:
                scope:
                  type: string
                limit:
                  type: integer
                remaining:
                  type: integer
                reset_at:
                  type: string
                  format: date-time
      example:
        data:
        - id: sync_01J2K8NN5T
          account_id: acc_01H8XFK9A
          trigger_type: manual_batch
          status: queued
        message: Account_syncs_queued
        meta:
          request_id: req_01J2K8B7QW
          generated_at: '2026-08-07T08:00:01Z'
          sync_quota:
            scope: daily_manual_sync_run_limit
            limit: 20
            remaining: 19
            reset_at: '2026-08-08T00:00:00Z'
    SubscriptionLimitProjectionSchema:
      type: object
      required: [used, limit, available, plan_limited, can_create]
      properties:
        used:
          type: integer
        limit:
          type: integer
        available:
          type: integer
        plan_limited:
          type: integer
        can_create:
          type: boolean
    CurrentUserContextResponseSchema:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: object
          required:
          - user
          - subscription
          - authorization
          - api_key
          properties:
            user:
              type: object
              required:
              - id
              - username
              - display_name
              - avatar_url
              - onboarding_status
              properties:
                id:
                  type: string
                username:
                  type: string
                display_name:
                  type: string
                avatar_url:
                  type:
                  - string
                  - 'null'
                onboarding_status:
                  type: string
            subscription:
              type: object
              required:
              - current
              - latest_paid_entitlement
              - rewards
              properties:
                current:
                  type: object
                  required:
                  - plan
                  - status
                  - features
                  - limits
                  properties:
                    plan:
                      type: string
                    status:
                      type: string
                    features:
                      type: array
                      items:
                        type: string
                    limits:
                      type: object
                      required:
                      - connected_accounts
                      - custom_portfolios
                      properties:
                        connected_accounts:
                          $ref: '#/components/schemas/SubscriptionLimitProjectionSchema'
                        custom_portfolios:
                          $ref: '#/components/schemas/SubscriptionLimitProjectionSchema'
                latest_paid_entitlement:
                  type: [object, 'null']
                  required: [plan, status, expires_at]
                  properties:
                    plan:
                      type: string
                    status:
                      type: string
                    expires_at:
                      type: [string, 'null']
                      format: date-time
                rewards:
                  type: array
                  items:
                    type: object
                    required: [program, plan, awarded_months]
                    properties:
                      program:
                        type: string
                      plan:
                        type: string
                      awarded_months:
                        type: integer
            authorization:
              type: object
              required:
              - credential_type
              - scopes
              properties:
                credential_type:
                  type: string
                  enum: [open_api_key, mcp_oauth]
                  description: Public REST responses use `open_api_key`; `mcp_oauth` only occurs on private server-bound delegation.
                scopes:
                  type: array
                  items:
                    type: string
            api_key:
              type: [object, 'null']
              description: Backward-compatible Open API key projection. It is null for a private `mcp_oauth` delegation actor.
              required:
              - scopes
              properties:
                scopes:
                  type: array
                  items:
                    type: string
        meta:
          type: object
          required:
          - request_id
          - generated_at
          properties:
            request_id:
              type: string
            generated_at:
              type: string
              format: date-time
      example:
        data:
          user:
            id: usr_01J2K7M9N3
            username: u4q2m7x9c5k8d1p6z
            display_name: Alice
            avatar_url:
            onboarding_status: configured_mcp
          subscription:
            current:
              plan: Free
              status: active
              features: []
              limits:
                connected_accounts:
                  used: 1
                  limit: 3
                  available: 1
                  plan_limited: 0
                  can_create: true
                custom_portfolios:
                  used: 1
                  limit: 3
                  available: 1
                  plan_limited: 0
                  can_create: true
            latest_paid_entitlement:
              plan: Plus
              status: expired
              expires_at: '2026-09-07T00:00:00Z'
            rewards:
            - program: marketing
              plan: Plus
              awarded_months: 1
          authorization:
            credential_type: open_api_key
            scopes:
            - account:read
            - account:write
            - portfolio:read
            - portfolio:write
            - order:read
            - trade:read
            - ledger:read
            - funding:read
[...]
